* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-red: #E3646E;
    --main-purple: #BB72E9;
    --main-blue: #3996DB;
    --main-green: #82BC4F;
    --main-yellow: #EABD5F;

    --base-gray-100: #E2E4E9;
    --base-gray-200: #C0C4CE;
    --base-gray-300: #878EA1;
    --base-gray-400: #292C34;
    --base-gray-500: #16181D;
    --base-gray-600: #0D0E11;

    --font-family-asap: "Asap", sans-serif;
    --font-family-inconsolata: "Inconsolata", monospace;
    --font-family-maven-pro: "Maven Pro", sans-serif;

    --title-lg: 700 56px/120% var(--font-family-asap);
    --title-md: 700 24px/120% var(--font-family-asap);
    --title-sm: 700 16px/120% var(--font-family-asap);

    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    --text-md: 400 16px/140% var(--font-family-maven-pro);
    --text-sm: 400 14px/140% var(--font-family-maven-pro);
}

a {
    text-decoration: none;
}