#intro {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(../assets/images/Background_Intro.png);
    background-size: 100% 100%;

    >img:first-child {
        width: 87px;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid var(--main-red);
        margin-block: 128px 64px;
    }

    a {
        >img:last-child {
            margin-bottom: 57px;
        }
    }
}